/*------------------------------------*/
/* 1. Base Styles and Typography      */
/*------------------------------------*/
/* Global styles for the entire page */
html {
  background-color: #D9BFA0;
}

body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

/* Base text element styling */
h1 {
  color: #000000;
  margin: 1vh;
  margin-left: 1vh;
}

h2 {
  padding-left: 2vh;
}

h3 {
  color: #000000;
}

p {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

/*------------------------------------*/
/* 2. Layouts and Main Sections       */
/*------------------------------------*/
/* Styles for main structural elements */
header {
  position: relative;
  background-color: #8C5469;
  padding: 1vh;
}

main, div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  background-color: #8C5469;
  display: flex;
  align-items: space-around;
  justify-content: center;
}

/* Standard section styling */
section {
  background-color: #A6837B;
  padding: 2vh;
  border-radius: 1vh;
  margin-bottom: 2vh;
  max-width: 100%;
  overflow: hidden;
}

div {
  display: flex;
  justify-content: flex-end;
  padding: 2vh;
}


/*------------------------------------*/
/* 3. Components                      */
/*------------------------------------*/
/* Buttons */
button {
  background-color: #F15BB5;
  color: #FAFAFA;
  border: 2vh;
  padding: 1vh;
  margin: 2vh;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 16px;
}

/* Images */
img {
  border-radius: 1vh;
  filter: drop-shadow(5px 5px 4px #030711);
}

/* Standard div styling */
section > div {
  margin: 1vh;
  padding: 1vh;
  background-color: #A6837B;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

/* Inner divs within sections */
section > div > div {
  background-color:#8C5469;
  color: white;
  margin: 2vh;
  padding: 2vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------------------------*/
/* 4. Navigation and Lists            */
/*------------------------------------*/
/* Main navigation bar (ul) */
ul {
  display: flex;
  background-color: #ffffff;
  padding: 1vw;
  border-radius: 1vw;
  justify-content: space-around;
  align-items: center;
  margin: 1vw;
  list-style: none;
}

/* Specific list styles for the "hottest originals" section */
:nth-of-type(2) ul {
  max-width: 100%;
  display: flex;
  list-style-type: none;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
}

:nth-of-type(2) ul,
li {
  flex-shrink: 100;
  width: calc(110% / 2);
  max-width: 100%;
  padding: 4vh;
}

/*------------------------------------*/
/* 5. Specific Sections               */
/*------------------------------------*/
/* Styles for the "epic stories" section */
section:first-of-type {
  margin: 1vh;
  padding: 1vh;
  background-color: #D9BFA0;
  display: flex;
  flex-direction: row;
}


/* Nested div inside the first section */
section:first-of-type div {
  padding: 1vh;
  margin: 1vh;
  background-color: #c49a8a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}